body {
  padding-top: 5rem;
}
.form-control.focus,
.form-control:focus,
.custom-select.focus,
.custom-select:focus {
    border-color: #2188ff;/*#0000ff blue*/
    outline: none;
    box-shadow: none;
}
/*Paginación*/
.page-link, .btn{
  box-shadow: none!important;
}
.btn {
  font-size: 14px; padding: 10.5px 27px;
}
.btn-custom {
  background-color: #5cc5ef; color: #fff!important;
}
.form-control.is-invalid:focus,
.custom-select.is-invalid:focus {
    box-shadow: none;
}
.form-control-lg, /*.custom-select,*/ .btn-lg{
    padding: 10px;
    font-size: 1rem;
}
.custom-select{
    font-size: 1rem;
}

.form-sublink {
    display: inline-block !important; }
.form-sublink {
    float: right;
    color: #6c757d;
    font-size: 12px;
    margin-top: .3rem; }
label {
    font-size: 14px;
    color: #2D2D2D;
    margin-bottom: .25rem;
    font-weight: 500; }

.fs-14 {
    font-size: 14px;
}
.fs-12 {
    font-size: 12px;
}

/*campos requeridos*/
.required{ color: #dc3545; }

/* Container Forms */
@media (min-width: 768px) {
  .container--xs {
    max-width: 640px; } }
@media (min-width: 768px) {
  .container--md {
    max-width: 462.5px; } }
@media (min-width: 768px) {
  .container--login {
    max-width: 380px; } }
@media (min-width: 768px) {
  .container--signup {
    max-width: 415px; } }
      
.svg-down{
    padding-left: calc(1.5em + .75rem);
    background-image: url('../img/download-solid.svg');
    background-repeat: no-repeat;
    background-position: center left calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.svg-import{
    padding-left: calc(1.5em + .75rem);
    background-image: url('../img/plus-solid.svg');
    background-repeat: no-repeat;
    background-position: center left calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

/*BACK TO TOP*/
.cd-top {
  display: inline-block;
  height: 45px;
  width: 45px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(220, 53, 69, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #343a40;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}
/*END BACK TO TOP*/

/**
 * FORM LABEL GROUP
 */
 .form-label-group {
   position: relative;
   margin-bottom: 1rem;
 }

 .form-label-group > input,
 .form-label-group > label {
   height: 3.125rem;
   padding: .75rem;
 }

 .form-label-group > label {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   margin-bottom: 0; /* Override default `<label>` margin */
   line-height: 1.5;
   color: #495057;
   pointer-events: none;
   cursor: text; /* Match the input under the label */
   border: 1px solid transparent;
   border-radius: .25rem;
   transition: all .1s ease-in-out;
 }

 .form-label-group input::-webkit-input-placeholder {
   color: transparent;
 }

 .form-label-group input:-ms-input-placeholder {
   color: transparent;
 }

 .form-label-group input::-ms-input-placeholder {
   color: transparent;
 }

 .form-label-group input::-moz-placeholder {
   color: transparent;
 }

 .form-label-group input::placeholder {
   color: transparent;
 }

 .form-label-group input:not(:placeholder-shown) {
   padding-top: 1.25rem;
   padding-bottom: .25rem;
 }

 .form-label-group input:not(:placeholder-shown) ~ label {
   padding-top: .25rem;
   padding-bottom: .25rem;
   font-size: 12px;
   color: #777;
 }

 /* Fallback for Edge
 -------------------------------------------------- */
 @supports (-ms-ime-align: auto) {
   .form-label-group > label {
     display: none;
   }
   .form-label-group input::-ms-input-placeholder {
     color: #777;
   }
 }

 /* Fallback for IE
 -------------------------------------------------- */
 @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .form-label-group > label {
     display: none;
   }
   .form-label-group input:-ms-input-placeholder {
     color: #777;
   }
 }